In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
import plotly.offline as py
py.init_notebook_mode(connected=True)
%matplotlib inline

In [2]:
global_temp = pd.read_csv('GlobalTemperatures.csv')
global_temp

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN
5,1750-06-01,12.937,1.724,NaN,NaN,NaN,NaN,NaN,NaN
6,1750-07-01,15.868,1.911,NaN,NaN,NaN,NaN,NaN,NaN
7,1750-08-01,14.750,2.231,NaN,NaN,NaN,NaN,NaN,NaN
8,1750-09-01,11.413,2.637,NaN,NaN,NaN,NaN,NaN,NaN
9,1750-10-01,6.367,2.668,NaN,NaN,NaN,NaN,NaN,NaN
10,1750-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1750-12-01,2.772,2.970,NaN,NaN,NaN,NaN,NaN,NaN
12,1751-01-01,2.495,3.469,NaN,NaN,NaN,NaN,NaN,NaN
13,1751-02-01,0.963,3.827,NaN,NaN,NaN,NaN,NaN,NaN
14,1751-03-01,5.800,3.051,NaN,NaN,NaN,NaN,NaN,NaN
15,1751-04-01,7.670,2.368,NaN,NaN,NaN,NaN,NaN,NaN
16,1751-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1751-06-01,13.827,1.801,NaN,NaN,NaN,NaN,NaN,NaN
18,1751-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1751-08-01,14.405,2.296,NaN,NaN,NaN,NaN,NaN,NaN
20,1751-09-01,10.673,2.656,NaN,NaN,NaN,NaN,NaN,NaN
21,1751-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1751-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1751-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1752-01-01,0.348,3.789,NaN,NaN,NaN,NaN,NaN,NaN
25,1752-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1752-03-01,5.806,3.192,NaN,NaN,NaN,NaN,NaN,NaN
27,1752-04-01,8.265,2.398,NaN,NaN,NaN,NaN,NaN,NaN
28,1752-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1752-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3162,2013-07-01,15.003,0.126,20.737,0.100,9.330,0.153,17.503,0.068
3163,2013-08-01,14.742,0.129,20.596,0.120,9.014,0.179,17.462,0.068
3164,2013-09-01,13.154,0.104,18.947,0.077,7.482,0.194,16.894,0.064
3165,2013-10-01,10.256,0.077,15.994,0.100,4.663,0.135,15.905,0.062
3166,2013-11-01,7.424,0.079,12.965,0.113,2.016,0.116,15.107,0.062
3167,2013-12-01,4.724,0.085,10.083,0.129,-0.548,0.105,14.339,0.065
3168,2014-01-01,3.732,0.075,9.327,0.138,-1.755,0.091,14.136,0.064
3169,2014-02-01,3.500,0.068,9.146,0.073,-2.080,0.095,14.157,0.065
3170,2014-03-01,6.378,0.098,12.367,0.108,0.436,0.139,15.090,0.068
3171,2014-04-01,9.589,0.111,15.529,0.090,3.617,0.193,16.038,0.069
3172,2014-05-01,12.582,0.068,18.362,0.158,6.613,0.166,16.804,0.059
3173,2014-06-01,14.335,0.096,20.126,0.095,8.473,0.157,17.303,0.064
3174,2014-07-01,14.873,0.078,20.711,0.091,9.112,0.135,17.508,0.061
3175,2014-08-01,14.875,0.115,20.790,0.098,9.047,0.173,17.607,0.064
3176,2014-09-01,13.091,0.086,18.865,0.106,7.399,0.155,16.975,0.059
3177,2014-10-01,10.330,0.076,16.066,0.111,4.689,0.126,16.029,0.059
3178,2014-11-01,6.713,0.121,12.284,0.124,1.313,0.115,14.899,0.064
3179,2014-12-01,4.850,0.090,10.190,0.148,-0.331,0.123,14.410,0.062
3180,2015-01-01,3.881,0.130,9.432,0.090,-1.518,0.097,14.255,0.066
3181,2015-02-01,4.664,0.121,10.497,0.092,-1.138,0.113,14.564,0.067
3182,2015-03-01,6.740,0.060,12.659,0.096,0.894,0.079,15.193,0.061
3183,2015-04-01,9.313,0.088,15.224,0.137,3.402,0.147,15.962,0.061
3184,2015-05-01,12.312,0.081,18.181,0.117,6.313,0.153,16.774,0.058
3185,2015-06-01,14.505,0.068,20.364,0.133,8.627,0.168,17.390,0.057
3186,2015-07-01,15.051,0.086,20.904,0.109,9.326,0.225,17.611,0.058
3187,2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
3188,2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
3189,2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
3190,2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
3191,2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062

### The First data set (Global)
Notice that there are some missing values in early years. It's not appropriate to set any of them to a specific value, like 0, so I just dropped all of them (and reset the index). Also, What I need in this stage is the land average temperature and the uncertainty, so I just dropped the rest of the column. Then I used the uncerainty to calculate the range of the temperature. And then dropped that column.

In [3]:
global_temp_dt = global_temp[['dt','LandAverageTemperature','LandAverageTemperatureUncertainty']]
global_temp_dt = global_temp_dt[global_temp_dt.LandAverageTemperature.notnull()]
global_temp_dt = global_temp_dt.reset_index(drop=True)
global_temp_dt.head()

           dt  LandAverageTemperature  LandAverageTemperatureUncertainty
0  1750-01-01                   3.034                              3.574
1  1750-02-01                   3.083                              3.702
2  1750-03-01                   5.626                              3.076
3  1750-04-01                   8.490                              2.451
4  1750-05-01                  11.573                              2.072

In [4]:
global_temp_dt['LandUncerMax'] = pd.Series(global_temp_dt.LandAverageTemperature+global_temp_dt.LandAverageTemperatureUncertainty, index=global_temp_dt.index)
global_temp_dt['LandUncerMin'] = pd.Series(global_temp_dt.LandAverageTemperature-global_temp_dt.LandAverageTemperatureUncertainty, index=global_temp_dt.index)
global_temp_dt = global_temp_dt.drop('LandAverageTemperatureUncertainty', 1)
global_temp_dt.head()

           dt  LandAverageTemperature  LandUncerMax  LandUncerMin
0  1750-01-01                   3.034         6.608        -0.540
1  1750-02-01                   3.083         6.785        -0.619
2  1750-03-01                   5.626         8.702         2.550
3  1750-04-01                   8.490        10.941         6.039
4  1750-05-01                  11.573        13.645         9.501

### The second data set (Major City)
This one is the temperature of major city, coming with the location information. Beside dropping the unnecessary data, I have to convert the location info, from string to float value. Also, setting the city name as the index.

In [5]:
MCity_temp = pd.read_csv('GlobalLandTemperaturesByMajorCity.csv')
MCity_temp = MCity_temp[MCity_temp.AverageTemperature.notnull()]
MCity_temp = MCity_temp.reset_index(drop=True)
MCity_temp.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W

In [6]:
def convert(tude):
    multi = 1 if tude[-1] in ['N','E'] else -1
    return multi * float(tude[:-1])

In [7]:
MCity_dt = MCity_temp.groupby(['City'])
MCity_mean = MCity_dt.AverageTemperature.mean()
MCity_Lat = MCity_dt.Latitude.first()
MCity_new_dt = pd.DataFrame(MCity_mean)
MCity_new_dt['Latitude'] = pd.Series(MCity_Lat,index = MCity_new_dt.index)
for i, num in enumerate(MCity_new_dt['Latitude']):
     MCity_new_dt.ix[i,'Latitude'] = convert(num)
MCity_new_dt.head()

             AverageTemperature Latitude
City
Abidjan               26.163737     5.63
Addis Abeba           17.525073     8.84
Ahmadabad             26.529853    23.31
Aleppo                17.370587    36.17
Alexandria            20.312617    31.35

### The third data set (Country)
In this part, I tried to get the average values of different countries, and also sort them by the temperature values.
Also, I constructed a pivot table, with the countries and months as pivot. This will be used as feature table for later clustering process.

In [11]:
Country_temp = pd.read_csv('GlobalLandTemperaturesByCountry.csv')
Country_temp.head()

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Ã…land
1  1743-12-01                 NaN                            NaN   Ã…land
2  1744-01-01                 NaN                            NaN   Ã…land
3  1744-02-01                 NaN                            NaN   Ã…land
4  1744-03-01                 NaN                            NaN   Ã…land

In [12]:
Country_temp = Country_temp[Country_temp.AverageTemperature.notnull()]
Country_temp.reset_index(drop=True).head()
Country_dt = Country_temp.groupby('Country').AverageTemperature.mean()
Country_dt = Country_dt.sort_values(ascending = False)
Country_dt

Country
Djibouti                                     28.816603
Mali                                         28.441977
Burkina Faso                                 28.083507
Senegal                                      27.967375
Aruba                                        27.920390
United Arab Emirates                         27.693995
Mauritania                                   27.620256
Gambia                                       27.538552
Niger                                        27.458973
CuraÃ§ao                                      27.353415
Palau                                        27.216379
Bonaire, Saint Eustatius And Saba            27.173295
Benin                                        27.171999
Palmyra Atoll                                27.163456
Kingman Reef                                 27.133034
Chad                                         27.120466
Sudan                                        27.093359
Northern Mariana Islands                     26.996834
Guam                                         26.996834
Sri Lanka                                    26.947687
Federated States Of Micronesia               26.944358
Oman                                         26.916863
Somalia                                      26.877085
Togo                                         26.871783
Eritrea                                      26.802653
Saint Vincent And The Grenadines             26.789449
Qatar                                        26.784996
Guinea Bissau                                26.761367
Nigeria                                      26.744708
Grenada                                      26.741952
                                               ...
Switzerland                                   6.992051
North Korea                                   6.748337
Faroe Islands                                 6.619002
China                                         6.612731
Austria                                       6.210732
Falkland Islands (Islas Malvinas)             6.076773
Lithuania                                     5.907992
Belarus                                       5.819288
Latvia                                        5.320545
Ã…land                                         5.291383
Kazakhstan                                    5.202145
French Southern And Antarctic Lands           4.983111
Estonia                                       4.819806
Liechtenstein                                 4.642939
Saint Pierre And Miquelon                     4.223060
Tajikistan                                    4.016035
Kyrgyzstan                                    3.220498
Heard Island And Mcdonald Islands             2.562115
Sweden                                        2.386332
North America                                 2.028374
Iceland                                       1.405065
South Georgia And The South Sandwich Isla     1.401025
Finland                                       1.244742
Norway                                        0.095804
Mongolia                                     -0.820671
Canada                                       -5.216659
Russia                                       -5.521882
Svalbard And Jan Mayen                       -7.448028
Denmark                                     -18.053051
Greenland                                   -18.587458
Name: AverageTemperature, dtype: float64

In [13]:
Country_temp = pd.read_csv('GlobalLandTemperaturesByCountry.csv')
Country_temp = Country_temp[Country_temp.AverageTemperature.notnull()]
Country_temp.reset_index(drop=True).head()
Country_temp = Country_temp.drop('AverageTemperatureUncertainty',1)
Country_temp['dt'] = pd.to_datetime(Country_temp.dt)
m = Country_temp.dt
Country_m = []
for i in m:
    Country_m.append(i.month)
Country_temp_month = Country_temp.assign(Month = Country_m)
table = pd.pivot_table(Country_temp_month,index='Country',columns = 'Month',values = 'AverageTemperature')
table

Month,1,2,3,4,5,6,7,8,9,10,11,12
Country,,,,,,,,,,,,
Afghanistan,0.469763,2.916785,8.416103,14.499520,20.288477,24.933201,26.932966,25.220417,20.318960,13.864779,7.718598,2.545520
Africa,20.942925,22.237892,23.901484,25.005126,25.645503,25.516013,25.211234,25.364570,25.677854,24.970178,23.182083,21.196174
Albania,2.860728,4.284409,7.354585,11.295094,16.038395,19.978852,22.440231,22.134456,18.409932,13.508053,8.635586,4.482817
Algeria,11.820880,14.428823,18.377369,22.498071,27.148478,31.475217,33.662695,32.918013,29.470013,23.772215,17.542138,12.611409
American Samoa,26.789485,26.934397,27.066556,26.951059,26.880854,26.544625,26.211162,26.187563,26.259409,26.278772,26.562711,26.680459
Andorra,3.424238,4.910091,7.143283,9.542763,13.338087,17.253670,19.955258,19.629966,16.380616,11.625863,7.201779,4.089574
Angola,22.572186,22.836319,22.966097,22.432434,20.997411,18.881944,18.648312,20.513902,22.746606,23.502785,23.192923,22.590590
Anguilla,24.850431,24.862206,25.264206,25.810389,26.878926,27.700918,28.056057,28.169914,27.981989,27.508468,26.773538,25.501277
Antigua And Barbuda,24.762489,24.766777,25.190794,25.799440,26.847486,27.541456,27.815834,27.902274,27.649494,27.132216,26.497335,25.376486
Argentina,21.246563,20.399114,18.195032,14.279722,10.835572,7.996956,7.746182,9.467031,12.133747,15.044646,18.081025,20.170759
Armenia,-4.896665,-2.997895,2.078541,7.906819,13.245700,17.562177,21.048110,20.944120,16.249923,9.943971,3.651043,-2.149813
Aruba,26.284759,26.099874,26.391251,27.143789,28.423040,29.108363,29.431634,29.537646,29.322132,28.548468,27.893064,26.888734
Asia,-7.502367,-5.063071,0.838842,8.020606,14.421325,19.121328,21.184298,19.641379,14.927868,7.991030,0.086198,-5.796970
Australia,27.820325,27.269281,25.448675,21.847175,17.933379,14.926963,14.165420,16.050852,19.279466,22.531429,25.391342,27.011683
Austria,-4.402030,-2.460030,1.324502,6.074726,11.174787,14.447102,16.126837,15.488665,11.912186,6.649856,1.206494,-2.930951
Azerbaijan,-0.713005,0.462201,4.325525,9.697259,15.564620,20.163483,23.241566,22.804512,18.161441,12.179556,6.518659,1.595820
Bahamas,21.904577,22.145140,22.984317,24.125490,25.808562,27.405176,28.287138,28.306177,27.620353,26.058447,24.286275,22.529483
Bahrain,15.586089,16.811408,20.437292,25.043798,30.301710,33.484339,34.828411,34.395857,32.005180,27.983102,22.768976,17.605605
Baker Island,25.176595,25.424605,25.762335,25.797556,25.694185,25.303478,25.208463,25.388447,25.313025,25.117375,25.199398,25.076870
Bangladesh,17.787270,20.295616,24.748000,27.358565,28.076124,28.143545,28.046976,28.008759,27.709957,26.129905,22.761787,18.772262
Barbados,25.193954,25.141417,25.556943,26.151691,27.071526,27.244754,27.277417,27.372160,27.283460,26.906772,26.587584,25.733792
Belarus,-6.786857,-5.809818,-1.425664,5.967376,12.668335,16.421133,18.130705,16.925913,11.992011,5.850837,0.365722,-4.361871
Belgium,1.191804,2.576098,5.242675,8.777669,13.042848,16.052345,17.737867,17.364460,14.466084,9.829574,5.309643,2.282726
Belize,22.422219,23.341155,24.768631,26.137267,27.092380,26.852872,26.427914,26.441172,26.225946,24.946205,23.521481,22.423400
Benin,26.244385,28.408435,30.015986,29.725568,28.531336,26.896290,25.668925,25.027694,25.598345,26.592559,27.075510,26.189014
Bhutan,3.663352,5.638387,9.444440,12.451990,15.084753,17.382423,18.056332,17.630531,16.181369,12.903851,8.456701,4.528094
Bolivia,22.285177,22.153722,22.010373,20.860127,19.271390,17.876610,17.923818,19.510824,21.272114,22.251449,22.709272,22.458386
"Bonaire, Saint Eustatius And Saba",25.483345,25.475034,25.886537,26.597731,27.722983,28.153719,28.330189,28.511091,28.532075,28.001462,27.304919,26.109243
Bosnia And Herzegovina,-0.269438,1.505114,5.381426,9.937838,14.841559,18.407167,20.572890,20.071061,16.200985,11.096141,5.912008,1.488734
Botswana,26.039331,25.519185,24.320892,21.691121,18.236561,15.148898,14.978994,17.832673,22.017890,24.964065,25.930355,25.991761
...,...,...,...,...,...,...,...,...,...,...,...,...
Switzerland,-2.484200,-0.823402,2.434283,6.327289,10.984624,14.417678,16.392955,15.834194,12.473768,7.375924,2.327095,-1.275548
Syria,6.065341,8.019766,11.911629,16.608785,22.045595,26.447507,29.009224,28.834824,25.280255,19.852966,13.202971,7.767634
Taiwan,16.115052,16.270965,18.156514,21.032555,23.964249,25.891642,27.182392,26.925277,25.816977,23.448227,20.780680,17.725360
Tajikistan,-10.634022,-7.939717,-1.650356,4.989644,10.147955,14.586860,17.084867,15.904144,11.095922,4.466244,-2.017094,-7.935206
Tanzania,23.012504,23.086985,23.084590,22.433000,21.747256,20.689659,20.294522,21.103624,22.478561,23.410871,23.687632,23.152629
Thailand,22.827357,24.705430,26.998626,28.320989,28.211124,27.611729,27.136079,26.854947,26.460324,25.696447,24.347658,22.561795
Timor Leste,26.567733,26.355459,26.419221,26.255037,25.964640,25.169000,24.549074,24.502140,25.250615,26.363533,27.241504,26.979807
Togo,26.828743,28.457224,29.256412,28.576304,27.577980,26.185774,25.260959,24.933844,25.473083,26.237407,26.994807,26.622027
Tonga,25.227787,25.764559,25.618481,24.456422,23.054153,21.975566,21.156368,20.905467,21.176457,21.934338,23.265178,24.349578
Trinidad And Tobago,25.013776,25.210669,25.861514,26.478177,26.983709,26.467398,26.325309,26.448417,26.633960,26.412544,26.186902,25.406595
Tunisia,10.314713,12.129418,15.032088,18.357651,22.753586,27.106544,29.730728,29.485778,26.326754,21.232377,15.819004,11.338654
Turkey,0.341703,1.632122,5.353593,10.037747,15.050692,19.397359,22.602713,22.668857,18.622284,13.305877,7.772203,2.702131
Turkmenistan,-0.038503,2.500093,8.097217,15.294418,22.187571,27.213071,29.664011,27.692130,21.707409,14.079011,7.215168,1.878378
Turks And Caicas Islands,24.260770,24.464874,24.883963,25.553654,26.991476,28.410026,29.085257,29.084859,28.670000,27.599063,26.211579,24.729700
Uganda,23.617486,24.138131,24.146800,23.368676,22.983945,22.515154,22.101306,22.258573,22.646077,22.754734,22.870881,22.961085
Ukraine,-5.502026,-4.371973,0.369211,7.834767,14.547700,18.341027,20.271989,19.354361,14.249388,7.828194,2.033023,-3.003095
United Arab Emirates,18.469811,19.984780,23.535573,27.590728,31.929468,34.517833,35.745605,35.222535,32.867490,28.828639,24.099057,19.922032
United Kingdom,3.566049,4.180398,5.244725,7.146308,9.994635,12.669061,14.222864,13.968293,11.993084,8.821897,5.942662,4.178053
United Kingdom (Europe),3.211211,3.831920,5.044728,7.184756,10.330703,13.264765,14.950920,14.671806,12.527798,9.079559,5.893920,3.939894
United States,-3.861933,-1.878726,2.363447,7.995131,13.793369,18.746832,21.385103,20.355785,15.905746,9.183385,2.438418,-2.613010
Uruguay,23.528794,23.025451,21.117469,17.264720,14.048234,11.489337,11.168131,12.273109,14.018943,16.432270,19.468201,21.975868
Uzbekistan,-3.544639,-1.127087,5.230288,13.448348,20.517610,25.585563,27.879272,25.654333,19.306392,11.399181,4.381213,-1.256424
Venezuela,24.502960,25.056480,25.648206,25.651194,25.431023,24.744754,24.570469,24.812577,25.124069,25.102585,25.109908,24.542353
Vietnam,19.030543,19.952971,22.164474,24.678460,26.545069,27.117909,27.012943,26.584840,25.637149,23.935764,21.893763,19.658139
Virgin Islands,24.588029,24.561629,24.918377,25.490063,26.609394,27.484099,27.876771,27.961286,27.706686,27.180310,26.454514,25.231364
Western Sahara,16.386962,18.131897,20.290061,21.492962,23.092708,25.500986,27.577646,28.061665,26.652923,23.712157,20.227840,16.840826
Yemen,20.475696,22.272203,24.844935,27.252594,29.540862,30.925073,30.791423,30.026620,29.010051,26.013664,23.187861,20.752409
Zambia,22.195617,22.322660,22.285773,21.333496,19.528652,17.382723,17.202592,19.510716,22.801900,24.482686,23.920723,22.498957
Zimbabwe,23.528479,23.382125,22.829028,21.080319,18.534801,16.149549,15.927359,18.259510,21.748077,24.037105,24.377528,23.673282
Ã…land,-2.941400,-3.630436,-2.071434,1.772124,6.865369,12.214295,15.861644,15.448209,11.558008,6.697726,2.640209,-0.791563